html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url('../Assets/background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    color: #333;
}

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity value as needed */
        z-index: -1;
    }

.container {
    position: relative;
    z-index: 1;
}

.table th, .table td {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    color: #000; /* Text color */
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.table th {
    font-weight: bold;
}

.text-center p.lead {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for the lead paragraph */
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

.text-center h1.display-4 {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for the header */
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

.main-content {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 800px; /* Adjust as necessary */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
